html {
    background: white;
}

h1 {
    color: rgb(155, 119, 174);
    font-family: Helvetica;
    font-size: 30px;
    text-indent: 30px;
}


h2 {
    color: rgb(208, 159, 233);
    font-family: Helvetica;
    font-size: 80px;
    text-indent: 30px;
}

h3 {
    color: rgb(155, 119, 174);
    font-family: Helvetica;
    font-size: 30px;
    text-indent: 30px;
}

#link {
    color: rgb(98, 74, 109);
    font-family: Helvetica;
    font-size: 20px;
    text-indent: 30px;
    }

a,a:link {
    text-decoration: none;
    color: rgb(98, 74, 109);
    font-family: Helvetica;
    font-size: 20px;
    text-indent: 30px;
}

a:hover {
    color: rgb(208, 159, 233);
}