@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');


#customCursor{
  /* background-color: rgb(22, 47, 47); */
  width: 6em;
  height: 6em;
  border-radius: 50%;
  /* background: rgba(255,255,255,0.4); */
  border: 0.01em solid rgba(255,255,255);
  position: absolute;
  backdrop-filter: blur(6px);
  cursor: none;
  z-index: 2;
}




.container {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(7,1fr);
  margin: 0px;
  padding: 0px;
  height: 100vh;
}




.text {
  grid-column: 3/6;
  grid-row: 4/4;
  text-align: center;
  font-size: 2.6em;
  font-family: 'Noto Sans Mono', monospace;
  color: rgb(125, 125, 125);
  z-index: 1;
}

@media screen and (max-height: 700px) {
  
  .text{
    font-size: 1.6em;
  }

}

@media screen and (max-width: 900px) {
  
  .text{
    font-size: 1.6em;
    margin-top: 8%;
  }

}




.scale:hover{
  transform: scale(.96);
}




#box11 {
  grid-column: 1/1;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #E9DDEB, #E7DEF1);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box12 {
  grid-column: 2/2;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #E0DFF1, #DDE3F3);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box13 {
  grid-column: 3/3;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #DBE9F2, #D6E9ED);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box14 {
  grid-column: 4/4;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #D6EEEE, #D6EEEE);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box15 {
  grid-column: 5/5;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #D6E9ED,#DBE9F2);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box16 {
  grid-column: 6/6;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #DDE3F3, #E0DFF1);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box17 {
  grid-column: 7/7;
  grid-row: 1/1;
  background-image: linear-gradient(to right, #E7DEF1, #E9DDEB);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}




#box21 {
  grid-column: 1/1;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #F0DBE4, #EADAE7);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box22 {
  grid-column: 2/2;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #E8E0ED, #E3E6ED);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box23 {
  grid-column: 3/3;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #DBEBEB, #D8EEEB);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box24 {
  grid-column: 4/4;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #D6EFE9, #D6EFE9);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box25 {
  grid-column: 5/5;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #D8EEEB, #DBEBEB);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box26 {
  grid-column: 6/6;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #E3E6ED, #E8E0ED);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box27 {
  grid-column: 7/7;
  grid-row: 2/2;
  background-image: linear-gradient(to right, #EADAE7, #F0DBE4);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}




#box31 {
  grid-column: 1/1;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #F5D6DB, #F0D9DF);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box32 {
  grid-column: 2/2;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #EFE0E5, #E7E9E4);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box33 {
  grid-column: 3/3;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #DFEFE4, #D8EEE1);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box34 {
  grid-column: 4/4;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #D6F0E3, #D6F0E3);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box35 {
  grid-column: 5/5;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #D8EEE1, #DFEFE4);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box36 {
  grid-column: 6/6;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #E7E9E4, #EFE0E5);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box37 {
  grid-column: 7/7;
  grid-row: 3/3;
  background-image: linear-gradient(to right, #F0D9DF, #F5D6DB);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}




#box41 {
  grid-column: 1/1;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #F8D2D1, #F4D5D3);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box42 {
  grid-column: 2/2;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #F0DDD7, #EBE8D9);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box43 {
  grid-column: 3/3;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #E2F0D9, #D9F1DB);
  /* border: .01em solid rgb(255, 255, 255); */
  /* z-index: 2; */
}

#box44 {
  grid-column: 4/4;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #D7F3DD, #D7F3DD);
  /* border: .01em solid rgb(255, 255, 255); */
  /* z-index: 2; */
}

#box45 {
  grid-column: 5/5;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #D9F1DB, #E2F0D9);
  /* border: .01em solid rgb(255, 255, 255); */
  /* z-index: 2; */
}

#box46 {
  grid-column: 6/6;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #EBE8D9, #F0DDD7);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box47 {
  grid-column: 7/7;
  grid-row: 4/4;
  background-image: linear-gradient(to right, #F4D5D3, #F8D2D1);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}




#box51 {
  grid-column: 1/1;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #FBD0CA, #F9D4CE);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box52 {
  grid-column: 2/2;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #F7DDD0, #EFE9D1);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box53 {
  grid-column: 3/3;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #E6F1D3, #DEF5D8);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box54 {
  grid-column: 4/4;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #D8F2D7, #D8F2D7);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box55 {
  grid-column: 5/5;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #DEF5D8, #E6F1D3);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box56 {
  grid-column: 6/6;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #EFE9D1, #F7DDD0);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box57 {
  grid-column: 7/7;
  grid-row: 5/5;
  background-image: linear-gradient(to right, #F9D4CE, #FBD0CA);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}




#box61 {
  grid-column: 1/1;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #FDCEC8, #FAD2CA);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box62 {
  grid-column: 2/2;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #FBDECE, #F6EAD0);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box63 {
  grid-column: 3/3;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #EAF1D0, #E1F6D5);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box64 {
  grid-column: 4/4;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #DBF5D8, #DBF5D8);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box65 {
  grid-column: 5/5;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #E1F6D5, #EAF1D0);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box66 {
  grid-column: 6/6;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #F6EAD0, #FBDECE);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box67 {
  grid-column: 7/7;
  grid-row: 6/6;
  background-image: linear-gradient(to right, #FAD2CA, #FDCEC8);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}





#box71 {
  grid-column: 1/1;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #FFCEC7, #FCD1C8);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box72 {
  grid-column: 2/2;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #FBDCCA, #F7E8CB);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box73 {
  grid-column: 3/3;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #EFF3D0, #E1F5D2);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box74 {
  grid-column: 4/4;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #DBF4D4, #DBF4D4);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box75 {
  grid-column: 5/5;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #E1F5D2, #EFF3D0);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box76 {
  grid-column: 6/6;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #F7E8CB, #FBDCCA);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}

#box77 {
  grid-column: 7/7;
  grid-row: 7/7;
  background-image: linear-gradient(to right, #FCD1C8, #FFCEC7);
  border: .01em solid rgb(255, 255, 255);
  z-index: 2;
}