@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Raleway+Dots&display=swap');

html{
   font-size: 62.5%;
   color: black;
}

body{
   margin: 0;
}


#container {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: linear-gradient(360deg, #66537D, #39325E 16%, #282341, #0E1427 55%, #070908);
}

.outer {
   width:100%;
   display: flex;
   justify-content: center;
 }

#moon {
   margin: 15em;
   width: 15em;
   height: 15em;
   background: #0E1427;
   box-shadow: inset 2em -1em 1.5em #ebeaea, -2em 1em 3em #ffffff70, -2em -1em 3em #ffffff70;
   border-radius: 50%;
   cursor: pointer;
}

.star {
   position:absolute;
   width: .02em;
   height: .02em;
   background: #ffffff60;
   border: solid .1em #ffffff60;
   border-radius: 50%;
   box-shadow: inset -.0em -.0em .8em #ffffff;
}

#text {
   text-align: center;
   margin-top: 0%;
   font-family: 'Raleway Dots', cursive;
   font-size: 4em;
   color: #ffffff;
   padding: 0em;
}



.shoot{
position: relative;
left:0%;
top:0em;
width: .02em;
height: .02em;
background-color:#000000;
position:fixed;
animation: diagonal-move-anim1 2s linear infinite;
animation-play-state: paused;
}

.shoot::before{
position: relative;
display:block;
content:"";
width:15em;
right:0em;
top:-10em;
height:0.1em;
transform: rotate(45deg);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
} 

@keyframes diagonal-move-anim1 {

0% {
   transform: translate(0, 0);
}

100% {
   transform: translate(150em, 150em);
}
}



.p-2{
position: relative;
left:0em;
top:60%;
width: .02em;
height: .02em;
background-color:white;
position:fixed;
animation:particleAnimation .5s linear reverse; 
animation-delay: 2s;
}
.p-2::before{
position:absolute;
display:block;
content:"";
width:15em;
right:1em;
top:0em;
height:0.1em;
transform: rotate(-180deg);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}


@keyframes particleAnimation
{
  from {
      left: 0%;
  }
  to {
      left: calc( 100% + 10em );
  }
}








@media screen and (min-width: 600px) {

   html{
      font-size: 62.5%;
      color: black;
   }
   
   body{
      margin: 0;
   }
   
   
   #container {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(360deg, #595196, #3f3779 16%, #282341, #0E1427 55%, #070908);
   }
   
   .outer {
      width:100%;
      display: flex;
      justify-content: center;
    }

   #moon {
      margin: 15em;
      width: 15em;
      height: 15em;
      background: #0b101f;
      box-shadow: inset 5em -2em 1.5em #ebeaea, -2em 1em 3em #ffffff70, -2em -1em 3em #ffffff70;
      border-radius: 50%;
      cursor: pointer;
   }
   
   .star {
      position:absolute;
      width: .02em;
      height: .02em;
      background: #ffffff60;
      border: solid .1em #ffffff60;
      border-radius: 50%;
      box-shadow: inset -.0em -.0em .8em #ffffff;
   }

   #text {
      text-align: center;
      margin-top: 0%;
      font-family: 'Raleway Dots', cursive;
      font-size: 6em;
      color: #ffffff;
      padding: 0em;
   }

   

.shoot{
  position: relative;
  left:0%;
  top:0em;
  width: .02em;
  height: .02em;
  background-color:#000000;
  position:fixed;
  animation: diagonal-move-anim1 2s linear infinite;
  animation-play-state: paused;
}

.shoot::before{
   position: relative;
   display:block;
   content:"";
   width:15em;
   right:0em;
   top:-10em;
   height:0.1em;
   transform: rotate(45deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
   } 

@keyframes diagonal-move-anim1 {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(150em, 150em);
	}
}



.p-2{
   position: relative;
   left:0em;
   top:60%;
   width: .02em;
   height: .02em;
   background-color:white;
   position:fixed;
   animation:particleAnimation .5s linear reverse; 
   animation-delay: 2s;
 }
 .p-2::before{
   position:absolute;
   display:block;
   content:"";
   width:15em;
   right:1em;
   top:0em;
   height:0.1em;
   transform: rotate(-180deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
 }


 @keyframes particleAnimation
 {
     from {
         left: 0%;
     }
     to {
         left: calc( 100% + 10em );
     }
 }
}









@media screen and (min-width: 850px) {

   html{
      font-size: 62.5%;
      color: black;
   }
   
   body{
      margin: 0;
   }
   
   
   #container {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(360deg, #506098, #283876 16%, #162347, #0E1427 55%, #070908);
   }
   
   .outer {
      width:100%;
      display: flex;
      justify-content: center;
    }

   #moon {
      margin: 15em;
      width: 15em;
      height: 15em;
      background: #0E1427;
      box-shadow: inset 8em -3em 1.5em #ebeaea, -2em 1em 3em #ffffff70, -2em -1em 3em #ffffff70;
      border-radius: 50%;
      cursor: pointer;
   }
   
   .star {
      position:absolute;
      width: .02em;
      height: .02em;
      background: #ffffff60;
      border: solid .1em #ffffff60;
      border-radius: 50%;
      box-shadow: inset -.0em -.0em .8em #ffffff;
   }

   #text {
      text-align: center;
      margin-top: 0%;
      font-family: 'Raleway Dots', cursive;
      font-size: 9em;
      color: #ffffff;
      padding: 0em;
   }

   

.shoot{
  position: relative;
  left:0%;
  top:0em;
  width: .02em;
  height: .02em;
  background-color:#000000;
  position:fixed;
  animation: diagonal-move-anim1 2s linear infinite;
  animation-play-state: paused;
}

.shoot::before{
   position: relative;
   display:block;
   content:"";
   width:15em;
   right:0em;
   top:-10em;
   height:0.1em;
   transform: rotate(45deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
   } 

@keyframes diagonal-move-anim1 {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(150em, 150em);
	}
}



.p-2{
   position: relative;
   left:0em;
   top:60%;
   width: .02em;
   height: .02em;
   background-color:white;
   position:fixed;
   animation:particleAnimation .5s linear reverse; 
   animation-delay: 2s;
 }
 .p-2::before{
   position:absolute;
   display:block;
   content:"";
   width:15em;
   right:1em;
   top:0em;
   height:0.1em;
   transform: rotate(-180deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
 }


 @keyframes particleAnimation
 {
     from {
         left: 0%;
     }
     to {
         left: calc( 100% + 10em );
     }
 }
}









@media screen and (min-width: 1100px) {

   html{
      font-size: 62.5%;
      color: black;
   }
   
   body{
      margin: 0;
   }
   
   
   #container {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(360deg, #3b4d92, #263675 16%, #162347, #0E1427 55%, #070908);
   }
   
   .outer {
      width:100%;
      display: flex;
      justify-content: center;
    }

   #moon {
      margin: 15em;
      width: 15em;
      height: 15em;
      background: radial-gradient(#f1f1f1 30%, #ebeaea 90%, #e7e7e7);
      border-radius: 50%;
      box-shadow: -2em 1em 3em #ffffff70, -2em -1em 3em #ffffff70, 2em 1em 3em #ffffff70, 2em -1em 3em #ffffff70;
      cursor: pointer;
   }
   
   .star {
      position:absolute;
      width: .02em;
      height: .02em;
      background: #ffffff60;
      border: solid .1em #ffffff60;
      border-radius: 50%;
      box-shadow: inset -.0em -.0em .8em #ffffff;
   }


    #text {
      text-align: center;
      margin-top: 0%;
      font-family: 'Raleway Dots', cursive;
      font-size: 12em;
      color: #ffffff;
      padding: 0em;
   }

   

.shoot{
  position: relative;
  left:0%;
  top:0em;
  width: .02em;
  height: .02em;
  background-color:#000000;
  position:fixed;
  animation: diagonal-move-anim1 2s linear infinite;
  animation-play-state: paused;
}

.shoot::before{
   position: relative;
   display:block;
   content:"";
   width:15em;
   right:0em;
   top:-10em;
   height:0.1em;
   transform: rotate(45deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
   } 

@keyframes diagonal-move-anim1 {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(150em, 150em);
	}
}



.p-2{
   position: relative;
   left:0em;
   top:60%;
   width: .02em;
   height: .02em;
   background-color:white;
   position:fixed;
   animation:particleAnimation .5s linear reverse; 
   animation-delay: 2s;
 }
 .p-2::before{
   position:absolute;
   display:block;
   content:"";
   width:15em;
   right:1em;
   top:0em;
   height:0.1em;
   transform: rotate(-180deg);
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
 }


 @keyframes particleAnimation
 {
     from {
         left: 0%;
     }
     to {
         left: calc( 100% + 10em );
     }
 }
}

