@font-face {
   font-family:'noto_sansbold';
   src: url('fonts/notosans/notosans-bold-webfont.woff2') format('woff2'),
        url('fonts/notosans/notosans-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family:'Quicksand';
   src: url('fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/quicksand/Quicksand-Regular.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenDyslexic';
   src: url('fonts/dyslexia/OpenDyslexic-Regular.woff2') format('woff2'),
       url('fonts/dyslexia/OpenDyslexic-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Sans Forgetica';
   src: url('fonts/memorization/SansForgetica-Regular.woff2') format('woff2'),
       url('fonts/memorization/SansForgetica-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'ZXX Noise';
   src: url('fonts/Acessability/ZXX-Noise.woff2') format('woff2'),
       url('fonts/Acessability/ZXX-Noise.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}




html{
   background-color: #231e68;
}
 

.container{
   display: grid;
   /* background-color: #dc5a22; */
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: 12em 52em;
}


.menu{
   grid-column: 11/-1;
   /* grid-row: 1/2; */
   /* background-color: antiquewhite; */
}

.menu h1{
   font-size: 8em;
   text-align: center;
   line-height: 20%;
   margin: 0.28em;
   padding: 0em;
   transition: .5s ease-in-out;
   transform-origin: 50% 65%;
}

.menu :link{
   text-decoration: none;
   color: #9dedb3;
}

.menu :visited {
   text-decoration: none;
   color: #9dedb3;
 }

.menu :hover{
   text-decoration: none;
   color: #9dedb3;
   transform: rotate(90deg);
}


.title{
   grid-column: 1/11;
   /* grid-row: 1/2; */
   text-align: center;
   font-family: 'noto_sansbold';
   color: #9dedb3;
   font-size: 1.7em;
   margin-top: 0.5em;
   padding-bottom: 0em;
   /* background-color: aqua; */
}

.matters{
   grid-column: 11/-1;
   /* grid-row: 1/2; */
   text-align: center;
   line-height: 240%;
   font-family: 'OpenDyslexic';
   /* color: #0b143b; */
   border-style: solid;
   border-color: #9dedb3;
   border-width: 0.2em;
   font-size: 2.2em;
   line-height: 250%;
   margin: .6em;
   padding: 0em;
   /* background-color: aqua; */
}

.matters :link{
   text-decoration: none;
   color: #9dedb310;
}

.matters :visited {
   text-decoration: none;
   color: #9dedb310;
 }

.matters :hover{
   text-decoration: none;
   color: #9dedb3;
}


.dyslexia{
   grid-column: 7/11;
   overflow: hidden;
   /* grid-row: 1/2; */
   text-align: center;
   font-family: 'noto_sansbold';
   background-color: #9dedb3;
   color: #231e68;
   letter-spacing: -0.18em;
   line-height: 300%;
   font-size: 2em;
   margin: .4em;
   padding: 1.2em;
}

.dyslexia h1{
      animation-name: spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 6s;
    }

    @keyframes spin {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(-360deg);
      }
    }

 /* .dyslexia h1 {
   animation: glitch 1.8s 1s linear infinite;
 }

 .dyslexia span:nth-child(1){
   animation: glitch 1.8s 1s linear infinite;
 }

 .dyslexia span:nth-child(2){
   animation: glitch 1.8s 1s linear infinite;
 }
 
 @keyframes glitch{
   2%,64%{
     transform: translate(2px,0) skew(0deg);
   }
   4%,60%{
     transform: translate(-2px,0) skew(0deg);
   }
   62%{
     transform: translate(0,0) skew(5deg); 
   }
 } */

 
.content{
   grid-column: 1/7;
   font-family: 'noto_sansbold';
   color: #9dedb3;
   /* background-color: rgb(174, 174, 197); */
   border-style: solid;
   border-color: #9dedb3;
   border-width: 0.2em;
   font-size: 1.8em;
   line-height: 1.4em;
   letter-spacing: -0.05em;
   margin: .6em;
   padding: 2em;
   overflow: hidden;
   overflow-y: scroll;
}

.content h3 {
   font-size: 1em;
}

.content p {
   font-size: 0.8em;
}

.content::-webkit-scrollbar {
   width: 0.5em;
 }
 
 .content::-webkit-scrollbar-track {
   background: #9dedb330;
   border-radius: 0em;
 }
 
 .content::-webkit-scrollbar-thumb {
   background: #231e68;
   border-radius: 0.5em;
   border: solid;
   border-width: 0.08em;
   border-color: #9dedb330;
 }
 
 .content::-webkit-scrollbar-thumb:hover {
   background: #231e68;
   border-radius: 0.5em;
   border: solid;
   border-width: 0.08em;
   border-color: #9dedb310;
 }
 
 .content::-webkit-scrollbar-thumb:active {
   background: #231e68;
   border-radius: 0.5em;
   border: solid;
   border-width: 0.08em;
   border-color: #9dedb310;
 }

