@font-face {
   font-family:'noto_sansbold';
   src: url('fonts/notosans/notosans-bold-webfont.woff2') format('woff2'),
        url('fonts/notosans/notosans-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family:'Quicksand';
   src: url('fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/quicksand/Quicksand-Regular.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenDyslexic';
   src: url('fonts/dyslexia/OpenDyslexic-Regular.woff2') format('woff2'),
       url('fonts/dyslexia/OpenDyslexic-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Sans Forgetica';
   src: url('fonts/memorization/SansForgetica-Regular.woff2') format('woff2'),
       url('fonts/memorization/SansForgetica-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'ZXX Noise';
   src: url('fonts/Acessability/ZXX-Noise.woff2') format('woff2'),
       url('fonts/Acessability/ZXX-Noise.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}




html{
   background-color:  rgb(255, 255, 255);
}

.home{
   display: grid;
   grid-template-columns: repeat(1,1fr);
}

.home h1{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   /* font-family: 'Helvetica'; */
   font-size: 8rem;
   /* letter-spacing: 8px; */
   text-align: center;
   grid-column: 1/-1;
   grid-row: 1/-1;
   margin: 0rem;
   padding: 9rem;
}

.home :link{
   text-decoration: none;
}

.home :visited {
   text-decoration: none;
 }

.home :hover{
   text-decoration: none;
}


.blink_me {
   animation: blinker 1s linear infinite;
     /* grid-column: 1/-1; */
 }
 
 @keyframes blinker {  
   0% { font-family: 'helvetica'; }
   30% { font-family: 'Sans Forgetica'; }
   60% { font-family: 'ZXX Noise'; }
   100% { font-family: 'helvetica'; }
 }

