@font-face {
   font-family:'noto_sansbold';
   src: url('fonts/notosans/notosans-bold-webfont.woff2') format('woff2'),
        url('fonts/notosans/notosans-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family:'Quicksand';
   src: url('fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/quicksand/Quicksand-Regular.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenDyslexic';
   src: url('fonts/dyslexia/OpenDyslexic-Regular.woff2') format('woff2'),
       url('fonts/dyslexia/OpenDyslexic-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Sans Forgetica';
   src: url('fonts/memorization/SansForgetica-Regular.woff2') format('woff2'),
       url('fonts/memorization/SansForgetica-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'ZXX Noise';
   src: url('fonts/Acessability/ZXX-Noise.woff2') format('woff2'),
       url('fonts/Acessability/ZXX-Noise.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}




html{
   background-color:  rgb(0, 0, 0);
}

.container{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: 10em 25em 10em;
}

.top{
   grid-column: 1/-1;
   color: rgb(255, 255, 255);
   font-family: 'noto_sansbold';
   font-size: 3rem;
   text-align: center;
   margin: 0em;
   padding: 1em;
}

.bottom{
   grid-column: 1/-1;
   color: rgb(255, 255, 255);
   font-family: 'noto_sansbold';
   font-size: 3rem;
   text-align: center;
   margin: 0em;
   padding: 2em;
}


.home{
   grid-column: 1/-1;
   margin-bottom: -3em;
   /* background-color: #b68fa7; */
   
}

.home a:link{
   text-decoration: none;
}

.home a:visited {
   text-decoration: none;
 }

.home a:hover{
   text-decoration: none;
} 

.home h1{
   text-align: center;
   margin: 0em;
   padding: 0.9em;
   animation: 2s foo infinite step-end;
}

.home h1:hover{
   animation-play-state: paused;
   text-decoration: underline;
}

 @keyframes foo{  
   0% { font-family: 'OpenDyslexic'; 
      color: #9dedb3;
      font-size: 8em;
      line-height: 1.6em;}
   30% { font-family: 'Sans Forgetica'; 
      color: #dc5a22;
      font-size: 8em; 
      letter-spacing: 0em;
      line-height: 1.8em;}
   60% { font-family: 'ZXX Noise'; 
      color: #eea1d0;
      font-size: 8.5em; 
      letter-spacing: 0em;
      line-height: 1.5em;}
   100% { font-family: 'OpenDyslexic'; 
      color: #9dedb3;
      font-size: 8em; 
      line-height: 1.6em;}
 }

